* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #e3e6e3;
}

main {
    max-width: 60vw;
    height: 100%;
    margin: 30px auto;
}
h1 {
    color: #e3e6e3;
}

.container-cabecalho {
    height: 15vh;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

input {
    font-size: 1.1em;
    width: 80vh;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}

nav {
    display: flex;
    gap: 30px;
}

nav > a {
    text-decoration: none;
    color: #e3e6e3;
    font-size: 1.2em;
}
nav > a:hover {
    scale: 1.1;
    color: greenyellow;
    transition: 0.3s ease-in-out;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(0,0,0,0.200);
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.200);
    border-radius: 10px;
    background-color: white;
    height: auto;
    width: 300px;
    gap: 10px;
    /* border: 1px solid red; */
}

.img-card {
    /* border: 1px solid purple; */
    text-align: center;
    margin: 10px;
}

.img-card > img {
    width: 276px;
    height: 276px;
}

.container {
    /* border: 1px solid purple; */
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding-top: 80px;

}

.card:hover{
    box-shadow: 4px 4px 4px rgba(0,0,0, 0.3);
    scale: 1.050;
    transition: 0.3s ease-in-out, box-shadow 0.6s ease-in-out;
}

.frete-card {
    align-self: flex-end;
    margin-inline: 20px;
    font-weight: bold;
    color: rgb(10, 124, 10);
    padding-inline: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(1, 255, 1, 0.342);
    /* border: 1px solid purple; */
    text-align: center;
    width: 150px;
}

.descricao-card {
    align-content: center;
    width: 100%;
    height: 60px;
    padding-inline: 20px;
    font-weight: bolder;
    /* border: 1px solid blue; */
}

.categoria-card {
    font-size: 0.9em;
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.521);
    padding-right: 20px;
    /* border: 1px solid black; */
}

.valor-card {
    align-self: flex-start;
    padding-left: 20px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}



