* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}


h2 {
    color: brown;
    text-align: center;
}

.form-container {
    width: 13vw;
    margin: 100px auto;
    border: 2px solid red;
}