* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* border: 2px solid green; */
    background-color: #f4f4f4;
}
main {
    display: block;
    /* border: 2px solid blue; */
}

h2 {
    /* border: 2px solid purple; */
    padding-top: 50px;
    color: brown;
    text-align: center;
}

.form-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
    max-width: 40vw;
    margin: 50px auto;
    /* border: 2px solid red; */
    padding: 20px;
    line-height: 1.3em;
    text-align: center;
}

label {
    font-weight: bold;
}

input, select {
    padding: 8px;
    width: 100%;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.campos {
    /* border: 1px solid purple; */
    margin: 10px;
}

.buttons {
    /* border: 1px solid black; */
    padding: 15px;
    margin: 15px;
}

.buttons > button {
    background-color: rgb(4, 4, 143);
    color:  white;
    border: none;
    border-radius: 10px;
    width: 48%;
    cursor: pointer;
}
 .buttons > button:hover {
    background-color: rgb(3, 5, 116);
 }